.navbar {
  background-color: lightcoral;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

ul{
}

.navmenu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navmenu>ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

li {
  align-items: center;
  justify-content: center;
}

.navmenu > ul>li > a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  border: 1px solid transparent;
}

.navmenu >ul> li > .active {
  border: 1px solid black;
}

.shopping-cart-open{
  display: flex;
  position:relative;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

#shopping-cart-image{
  width: 100%;
}

.shopping-cart-open>.item-count{
  position: absolute;
  display: block;
  z-index: 999;
  margin-left: .3rem;
  margin-bottom: .5rem;
  font-weight: bold;
  pointer-events: none;
  font-size: 16px;
}

.shopping-wrapper{
  width: 35px;
  height: 35px;
  margin-left: 3vw;
}

