.navbar {
  background-color: lightcoral;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
}

h1 > a {
  text-decoration: none;
  color: inherit;
}

ul{
}

.navmenu {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 20px;
  font-weight: 400;
}

li {
  align-items: center;
  justify-content: center;
}

.navmenu > li > a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  border: 1px solid transparent;
}

.navmenu > li > .active {
  border: 1px solid black;
}

#shopping-cart-image{
  width: 30px;
  position:absolute;
  right: 10vw;
}